<div class="container">
  <h1>Pipes</h1>

  <h2>Числа</h2>
  <p><strong>число</strong> {{e}}</p>
  <p>{{e | number: '1.1-3'}}</p>
  <p>{{e | number: '2.2'}}</p>

  <hr />

  <h2>Строки</h2>
  <p><strong>строка:</strong>{{str}}</p>
  <p>uppercase (все заглавные символы){{ str | uppercase}}</p>
  <p>lowercase (все обычные символы){{ str | lowercase}}</p>
  <p>titlecase (все слова с заглавной){{ str | titlecase}}</p>
  <p>slice (start убрать число символов слева: end и остатьвить оставшиеся символы до этого числа){{ str | slice:2:7}}</p>
  <p>slice (start оставить число символов справа, если со знаком - ){{ str | slice:-3}}</p>

  <hr />

  <h2>Дата</h2>
  <p>Дата:{{someDate}}</p>
  <p>date - (см.документацию API List-Pipes){{ someDate | date:'MM dd yyyy , HH:mm:ss'}}</p>
  <p>date - (см.документацию API List-Pipes){{ someDate | date: 'short'}}</p>

  <hr />

  <h2>Другие пайпы: percent, currency, json</h2>
  <p><strong>число:</strong>{{someNumber}}</p>
  <p>percent: {{someNumber | percent: '2.1-2'}}</p>
  <p>currency: {{someNumber | currency}}</p>
  <br>
  <h2>Объекты и пайпы: json - читабельнее через тег pre - показывает структуру читабельной</h2>
  <p><strong>объект</strong>{{someObj}}</p>
  <pre>{{ someObj | json}}</pre>

  <hr />

  <h2>my pipe</h2>
  <p>число:{{num1}}</p>
  <p>применение pipe (*аргумент): {{ num1 | myFirstPipe:3}}</p>
</div>

<hr />
<p>Фильтр по вхождению в блоках</p>
<div>
  <button class="btn" (click)="addNewPostBasicDown()">Добавить новый пост(шаблон) снизу</button>
  <button class="btn" (click)="addNewPostBasicUp()">Добавить новый пост(шаблон) сверху</button>
  <input [(ngModel)]="search">
  <div *ngFor="let post of viewBlok | filter: search"
    class="card">
    <h2>{{post.title}}</h2>
    <p>{{post.text}}</p>
  </div>
</div>

<hr />

<h2>Async</h2>
work Async: {{ workAsync | async }}
