/* You can add global styles to this file, and also import other style files */

.form-control {
  display: block;
  margin-top: 0.8rem;
}

.btn {
  margin-top: 0.8rem;
  background-color: #888888;
  font-family: "Bookman Old Style";
}

hr {
  margin: .5rem 0;
}

.card {
  padding: 1rem;
  border: #1976d2 2px dotted;
  margin: .7rem 0;
}
