<div class="container">
  <h1>Directives</h1>
  <p appStyle="yellow" [dStyles]="{border: '15px solid blue', borderRadius:'15px'}">Some test text</p>
  <p appStyle [dStyles]="{border: '5px solid red', borderRadius:'5px'}">Передача параметров в директиву в виде объекта</p>

</div>

<hr /> <br>
<button (click)="isVisible = !isVisible">Some button Toggle</button>

<!--<div *ngIf="isVisible" class="wrap">-->
<!--  <p>Некий текст, который обрабатывается через структурный параметр *ng</p>-->
<!--</div>-->

<div class="wrap" *appIfNotDelete="isVisible">
  <p>div обработанный через структурную директиву (по сути тоже самое что и *ngIf)</p>
</div>
