<p>for-test-service works!</p>
<div class="card">

  <h2>appCounter in component: {{appCounter1Service.counter1}}</h2>
  <button class="btn" (click)="appCounter1Service.counterUp()">counter1 in component +</button>
  <button class="btn" (click)="appCounter1Service.counterDown()">counter1 in component -</button>

</div>

<div class="card">

  <h2>appCounter in component local: {{appLocalServise.counter1}}</h2>
  <button class="btn" (click)="appLocalServise.counterUp()">counter1 in component local +</button>
  <button class="btn" (click)="appLocalServise.counterDown()">counter1 in component local -</button>

</div>
